		* {
		    margin: 0;
		    padding: 0;
		    box-sizing: border-box;
		    user-select: none;
		}

		body {
		    height: 100vh;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    background-color: #2690d69f;
		    font-family: 'Helvetika Neue', Arial, sans-serif;
		    font-size: 28px;
		}

		.mtop5,
		.col-xs-12 input,
		.col-xs-12 button {
			margin-top: 5px
		}