		* {
		    margin: 0;
		    padding: 0;
		    box-sizing: border-box;
		    user-select: none;
		}

		html {
			height: 100%;
		}
		 body {
			height: 100%;			
		    display: flex;		    
		    justify-content: center;
		    background-color: #dff0d8;
		    font-family: 'Helvetika Neue', Arial, sans-serif;
		    /* font-size: 16px; */
		}
		
		.input-group .form-control.selectcss {
			/* width:100px; */
			width: fit-content;
			padding:3px 10px;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
			border-right: none;
			background: white no-repeat 90% 50%;
			background-size:13px 13px;
			appearance:none;
			-moz-appearance:none;
			-webkit-appearance:none;
		}

		.mtop5 {
			margin-top: 5px
		}
		.pad0{
			padding: 0px;
		}
		.lpad0{
			padding-left: 0px;
		}
		.rpad0{
			padding-right: 0px;
		}
		.full {
			width: 100%;
		}
		input[type=date].form-control {
			padding-right: 15px;
		}

		/* .table-hover>thead>tr:hover>th, */
		.table-hover>tbody>tr:hover>td {
			background-color: #dee97e;
		}
		table th, table td {
			font-size: 16px;
		}
		.modal label.control-label,
		.modal input.form-control {
			font-size: 18px;
		}

		.lbr0{
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
		.rbr0{
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}